<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link href="./style.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />

    <title>To do list</title>
  </head>
<!-- czcionka Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <body>
        <div class="todo">
            <div class="header">
                <h1>ToDo List</h1>
                <input type="text" class="todo-input" placeholder="Wpisz treść zadania...">
                <button class="btn-add">Add</button>
            </div>
            <div class="todolist">
                <p class="error-info">Brak zadań na liście.</p>
                
                

                <ul>
                    <li data-id='test1'><%=notes.note_actions%>
                        <div class="tools">
                            <button class="complete">DONE</button>
                            <button class="edit">EDIT</button>
                            <button class="delete">DELETE</button>
                        </div>
                    </li>
                </ul>



            </div>
        </div>

        <div class="popup">
            <h3>Edytuj zadanie:</h3>
            <div class="popup-body">
                <p class="popup-info"></p>
                <input type="text" class="popup-input" placeholder="Wprowadź nową treść zadania...">
                <button class="popup-btn accept">Zatwierdź</button>
                <button class="popup-btn cancel">Anuluj</button>
            </div>
        </div>
    </body>

        <script src="./script.js"></script>
        <script src="../index.js"></script>
        <script src="../controllers/note_actions.js"></script>
</html>
